In [1]:
import pandas as pd
import os
import numpy as np
from lexicalrichness import LexicalRichness
import textstat
import re
import nltk
from collections import Counter
from scipy.stats import ttest_ind
from scipy.stats import levene
from scipy.stats import wald
from scipy.stats import mannwhitneyu
import itertools

In [2]:
inpath2= os.path.dirname(os.path.dirname(os.getcwd()))+"\\Data\\Intermediate Data\\"
df=pd.read_csv(inpath2+'final_all_files.csv')

In [3]:
df['text_len']=df['text'].apply(lambda x: len(x))

MATTR

In [4]:
df['mattr'] = df['text'].apply(lambda x: LexicalRichness(x).mattr(window_size=25))

Flesch-Kincaid Grade Level

In [5]:
df['FK']=df['text'].apply(lambda x: textstat.flesch_kincaid_grade(x))

In [22]:
nltk.download('cmudict')

[nltk_data] Downloading package cmudict to
[nltk_data]     C:\Users\pcrrt\AppData\Roaming\nltk_data...
[nltk_data]   Package cmudict is already up-to-date!

True

In [23]:
arpabet = nltk.corpus.cmudict.dict()

In [24]:
!pip install g2p_en

Requirement already satisfied: g2p_en in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (2.1.0)
Requirement already satisfied: distance>=0.1.3 in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from g2p_en) (0.1.3)
Requirement already satisfied: inflect>=0.3.1 in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from g2p_en) (5.3.0)
Requirement already satisfied: numpy>=1.13.1 in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from g2p_en) (1.21.2)
Requirement already satisfied: nltk>=3.2.4 in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from g2p_en) (3.6.2)
Requirement already satisfied: tqdm in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from nltk>=3.2.4->g2p_en) (4.62.1)
Requirement already satisfied: joblib in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from nltk>=3.2.4->g2p_en) (1.0.1)
Requirement already satisfied: click in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from nltk>=3.2.4->g2p_en) (7.1.2)
Requirement already satisfied: regex in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from nltk>=3.2.4->g2p_en) (2021.8.3)
Requirement already satisfied: colorama in c:\users\pcrrt\anaconda3\envs\anlp\lib\site-packages (from tqdm->nltk>=3.2.4->g2p_en) (0.4.4)

In [25]:
from g2p_en import G2p
g2p = G2p()

In [26]:
def get_pronunciation(word):
    if word in arpabet:
        # pick the first pronunciation
        return arpabet[word][0]

    else:
        return g2p(word)

In [27]:
def get_syllable_count(word):
    pronunciation=get_pronunciation(word)
    sylls=0
    for phon in pronunciation:
        # vowels in arpabet end in digits (indicating stress)
        if re.search("\d$", phon) is not None:
            sylls+=1
    return sylls

In [28]:
def flesch_kincaid_grade_level(text):
    sentences=nltk.sent_tokenize(text)
    words=[i for i in nltk.word_tokenize(text) if re.search('[A-Z]+|[a-z]+|\d+', i)!=None]
    syl_count=np.array([get_syllable_count(i) for i in words]).sum()
    x=(.39*(len(words)/len(sentences)))+(11.8*(syl_count/len(words)))-15.59
    return x

In [30]:
df['FK2']=df['text'].apply(lambda x: flesch_kincaid_grade_level(x))

Thematic Concentration

In [6]:
def tokenize(data):
    return nltk.word_tokenize(data)
def get_counts(tokens):
    counts=Counter()
    for token in tokens:
        counts[token]+=1
    return counts

In [7]:
def calculate_tc(testText): 
    tokens=tokenize(testText)
    token_counts=get_counts(tokens)
    freq_df=pd.DataFrame.from_dict(token_counts, orient='index', columns=['frequency']).reset_index().sort_values(by='frequency', ascending=False)
    freq_df['x']=1
    freq_df['rank']=freq_df.groupby('x').cumcount()+1
    fr1=freq_df.iloc[0,1]
    fr2=freq_df.iloc[1,1]
    r1=freq_df.iloc[0,3]
    r2=freq_df.iloc[1,3]
    h_point=((fr1*r2)-(fr2*r1))/(r2-r1+fr1-fr2)
    freq_df['TW']=np.where(freq_df['rank']<h_point, 2*(((h_point-freq_df['rank'])*(freq_df['frequency']))/((h_point*(h_point-1)*fr1))), 0)
    return freq_df['TW'].sum()

In [8]:
df['TC']=df['text'].apply(lambda x: calculate_tc(x))

In [5]:
trump=df[df['candidate']=='trump']

In [6]:
trump['rally']=np.where(trump['event_type']=='rally', 1, 0)

C:\Users\pcrrt\AppData\Local\Temp/ipykernel_27012/3625745240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trump['rally']=np.where(trump['event_type']=='rally', 1, 0)

In [44]:
trump_rallies=trump[trump['rally']==1]
trump_not_rallies=trump[trump['rally']==0]

Compare rallies / non-rallies

In [12]:
ttest_ind(trump_rallies.TC, trump_not_rallies.TC, equal_var = False)

Ttest_indResult(statistic=-1.1226434765155002, pvalue=0.2627954556521124)

In [13]:
mannwhitneyu(trump_rallies.TC, trump_not_rallies.TC)

MannwhitneyuResult(statistic=5446.5, pvalue=0.028287041805636834)

In [16]:
ttest_ind(trump_rallies.mattr, trump_not_rallies.mattr, equal_var = False)

Ttest_indResult(statistic=-13.357719864481169, pvalue=2.606497694844693e-29)

In [17]:
mannwhitneyu(trump_rallies.mattr, trump_not_rallies.mattr)

MannwhitneyuResult(statistic=1110.5, pvalue=3.7043903298640934e-27)

In [10]:
trump.groupby(['rally'])['mattr'].describe()

,count,mean,std,min,25%,50%,75%,max
rally,,,,,,,,
0,112.0,0.852888,0.018664,0.814184,0.840418,0.850485,0.864273,0.904532
1,114.0,0.824522,0.012630,0.802451,0.817030,0.823022,0.828617,0.888349

For Flesh-Kincaid - need to remove sources with no punctuation.

In [8]:
trump_x=trump[trump['source']!='https://github.com/kfinity/capstone-speeches/blob/master/data/speeches.csv']

In [46]:
trump_x.groupby(['rally'])['FK2'].describe()

,count,mean,std,min,25%,50%,75%,max
rally,,,,,,,,
0,98.0,6.805842,2.013554,2.359621,5.341871,6.225587,7.966102,12.062549
1,98.0,5.414116,0.754955,4.206336,4.902157,5.254582,5.983795,7.792509

In [47]:
trump_x.groupby(['rally'])['FK'].describe()

       count      mean       std  min  25%   50%  75%   max
rally
0       98.0  6.791837  2.922845  1.7  4.9  6.20  8.0  22.6
1       98.0  4.650000  0.896298  3.6  4.0  4.45  5.2   7.8

In [53]:
ttest_ind(trump_rallies.FK, trump_not_rallies.FK, equal_var = False)

Ttest_indResult(statistic=0.5213342215547009, pvalue=0.602683910198359)

In [49]:
ttest_ind(trump_rallies.FK2, trump_not_rallies.FK2, equal_var = False)

Ttest_indResult(statistic=0.6186548596030685, pvalue=0.5368156558800489)

In [50]:
mannwhitneyu(trump_rallies.FK, trump_not_rallies.FK)

MannwhitneyuResult(statistic=3184.0, pvalue=3.67446677801599e-11)

In [51]:
mannwhitneyu(trump_rallies.FK2, trump_not_rallies.FK2)

MannwhitneyuResult(statistic=4174.5, pvalue=3.4813633696373413e-06)